<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>투두리스트</title>
</head>


<body>
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row align-item-start">
      <div class="col">
        {% if todo_list %}
            <ul class="list-group">
            {% for todo in todo_list %}
                <li class="list-group-item">
                    <p>{% if todo.importance == true %}
                        todo.importance * '★'
                    {% endif %} {{ todo.text }}</p>
                    <div class="my-3" style="float:right">
                      <a href="{% url 'pybo:edit_todo' todo.id  %}" 
                        class="btn btn btn-outline-primary">수정</a>
                    </div>
                </li>
                
            {% endfor %}
            </ul>
        {% else %}
            <p>질문이 없습니다.</p>
        {% endif %}
        </div>
        <div class="col" style="max-width: 300px;">
        
        </div>
    </div>
    
</div>
<a href="{% url 'pybo:add_todo' %}" class="btn btn-primary">할 일 등록</a>
<div>
  <form action="{% url 'pybo:save_news' %}" method="post">
    {% csrf_token %}
  <!-- 크롤링한 뉴스.py를 db에 저장하지 않고 그대로 출력(views에만 따로 적용했음)-->
    {% for news in newsList %}  
    <div class="row">
      <div class="col-3 p-3"><a href="{{ news.link }}"><img src="{{ news.image_s }}"></img></a></div>
    <div class="col-9 p-3" style="font-size:14px;">
      <div class="text-secondary" style="font-size:12px;">{{ news.writing }}</div>
      <a href="{{ news.link }}"><b>{{ news.title }}</b></a><br>
      <div class="mt-2" style="font-size: 12px">{{ news.content }}</div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">저장하기</button>
      <!-- <a href="{% url 'pybo:save_news' %}" class="btn btn-primary">뉴스 저장</a> -->
    </div>
    {%endfor%}
  </form>
</div>

<!-- <textarea  class="form-control" name="text" id="text" aria-label="할 일"
value="{{ form.text.value|default_if_none:'' }}"></textarea> -->


{% endblock %}
<!-- <a href="{% url 'pybo:save_news' news.title news.content news.writing news.image news.link %}" class="btn btn-primary">뉴스 저장</a> -->


<!-- 
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->

<!-- Vertically centered modal -->
<!-- <div class="modal-dialog modal-dialog-centered">
    ...
  </div>
</body>
</html> -->
